body {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.new-todo-form {
	display: flex;
	flex-direction: column;
	gap: 5px;
	max-width: 300px;
}

h1,
h2,
h3,
#todos {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}
